.container{
    width:640px;
    margin:auto;
    margin-top:  10px;
    background-color: white;
    color: rgb(48, 69, 69);
    display:flex;
    flex-direction:column;
    gap:20px;
    border-radius:10px;
    padding:40px 50px;
    /* margin-left:50px;
    margin-right:50px; */

}
.container hr{
    height:2px;
    border: none;
    background: #4d5966;
}
.container h2{
    font-size:27px;
    font-weight:500;
}
.container ul li{
display: flex;
align-items: center;
height: 70px;
padding-left:15px;
border:1px  solid #4d5966;
border-radius:8px;
margin-bottom:20px;
font-size:20px;
cursor:pointer;
}
.container button{
    margin :auto;
    width:250px;
    height:65px;
    background:rgb(75, 121, 150);
    color:#0a0f15;
    font-size:25px;
    font-weight:500;
    border-radius:8px ;
    cursor:pointer;
}
.container .index{
    margin:auto;
    font-size:18px;
}
.container .correct{
    background: rgb(33, 155, 83);
    /* border-color: rgb(33, 155, 83); */
}
.container .wrong{
    background: rgb(142, 79, 79);
    /* border-color:rgb(249, 251, 251) ; */
}